<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OAuth Callback :: Oscillate</title>
</head>
<body>
  <div class="container">
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div>
  <script>
    try {
      window.opener.postMessage('<%= @token %>', '*');
    } catch (error) {}

    window.close();
  </script>
</body>
</html>
